{% extends 'base.html' %}

{% block main %}
<h2>Iniciar sesión</h2>
<form method="POST">
    {% csrf_token %}
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Acceder</button>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</form>
<a href="{% url 'tasks::register' %}">Registrarse</a>
{% endblock %}
